<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
	<server>
      <id>YuLing</id>
      <username>admin</username>
      <password>admin</password>
    </server>
	<server>
      <id>releases</id>  
      <username>admin</username>
      <password>admin</password>
    </server>
     <server>
      <id>snapshots</id> 
      <username>admin</username>
      <password>admin</password>
    </server>
  </servers>
    <mirrors>
        <mirror>
            <id>YuLing</id>
            <name>YuLing Central</name>
            <url>http://192.168.51.9:8081/repository/maven-public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>dev</id>
            <properties>
                <env>dev</env>
            </properties>
            <activation>
                <!--不指定环境的时候默认使用dev-->
                <activeByDefault>true</activeByDefault>
            </activation>
        </profile>
        <profile>
            <id>uat</id>
            <properties>
                <env>uat</env>
            </properties>
        </profile>
        <profile>
            <id>pro</id>
            <properties>
                <env>pro</env>
            </properties>
        </profile>
    </profiles>

</settings>
