<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <!--誉凌-->
        <server>
            <id>YuLing</id>
            <username>admin</username>
            <password>admin</password>
        </server>
        <!--   从兴   -->
        <server>
            <id>CongXing</id>
            <username>admin</username>
            <password>admin888</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ENV-dev</id>
            <properties>
                <env>dev</env>
            </properties>
        </profile>
        <profile>
            <id>ENV-uat</id>
            <properties>
                <env>uat</env>
            </properties>
        </profile>
        <profile>
            <id>ENV-pro</id>
            <properties>
                <env>pro</env>
            </properties>
        </profile>
    </profiles>

</settings>
